body {
    background: gray;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}


.iphone5 {
    margin: 0px auto;
    background: white;
    width: 320px;
    height: 568px;
}

.iphone6 {
    margin: 0px auto;
    background: white;
    width: 375px;
    height: 667px;
}

.iphone6plus {
    margin: 0px auto;
    background: white;
    width: 414px;
    height: 736px;
}

.nexus6p {
    margin: 0px auto;
    background: white;
    width: 435px;
    height: 773px;
}